@use '../abstracts' as abs;

.services-container{

    display: flex;
    flex-direction: column;

    .service{
        height: 80svh;
        display: flex;
        flex-direction: column;
        justify-content: end;
        align-items: center;
        gap: 32px;
        padding-bottom: 64px;
        padding-inline: 28px;
        color: abs.$dark-desaturated-cyan;

        &__title{
            font-size: calc(18px *1.8);
            font-family: abs.$Fraunces;
        }

        &__description{
            font-family: abs.$Barlow;
            font-weight: 900;
            font-size: calc(18px *1);
            text-align: center;
            line-height: 32px;   
        }
    }

    .graphic-design{
        background-image: url(../../assets/mobile/image-graphic-design.jpg);
        background-size: cover;
        background-position: center;
    }

    .photography{
        background-image: url(../../assets/mobile/image-photography.jpg);
        background-size: cover;
        background-position: center;
    }


    
    
}


@media (min-width: 1024px) {

    .services-container{
        flex-direction: row;

        .service{
            flex:1;

            &__title{
                font-size: calc(18px *2);
               
            }
    
            &__description{
                font-size: calc(18px *1.1);
                max-width: 450px;
            
            }
        }


        .graphic-design{
            background-image: url(../../assets/desktop/image-graphic-design.jpg);
            
        }
    
        .photography{
            background-image: url(../../assets/desktop/image-photography.jpg);
            
        }
    }

}


